<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">     
       <title>Log4scrapper</title>
     <link rel="stylesheet" href="static/bootstrap-4.3.1-dist/css/bootstrap.min.css"/>
     <script type="text/javascript" src="static/jquery/jquery-3.4.1.min.js"></script>
     <script type="text/javascript" src="static/popper/popper.min.js"></script>
     <script type="text/javascript" src="static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="static/css/style.css"/> 
     <!-- Full local -->
     <link rel="stylesheet" type="text/css" href="static/DataTables/datatables.min.css"/>
     <script type="text/javascript" src="static/DataTables/datatables.min.js"></script>

    </head>

<body>
<!--
<div id="overlay"></div>                   
-->

<div class="container-fluid">
<!-- CREATE NEW -->
<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="insertModalLabel">Форма регистрации пользователя</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="ajaxCreateForm" method="POST" action='mcreate' >
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Имя:</label>
            <input type="text" class="form-control" id="recipient-name" name="name" value = "R48-" >
            <label for="recipient-status" class="col-form-label">Статус RussianPostEASnsi:</label>
            <input type="text" class="form-control" id="recipient-status" name="status" value = "New" >
            <label for="recipient-statussdo" class="col-form-label">Статус RussianPostEASsdo:</label>
            <input type="text" class="form-control" id="recipient-statussdo" name="statussdo" value = "New" >
            <label for="recipient-statusudp" class="col-form-label">Статус RussianPostEASConfiguration:</label>
            <input type="text" class="form-control" id="recipient-statusupd" name="statusupd" value = "New" >
            <label for="recipient-statusauth" class="col-form-label">Статус RussianPostEASuser:</label>
            <input type="text" class="form-control" id="recipient-statusauth" name="statusauth" value = "New" >
            <label for="recipient-statustrans" class="col-form-label">Статус RussianPostEAStrans:</label>
            <input type="text" class="form-control" id="recipient-statustrans" name="statustrans" value = "New" >
            <label for="recipient-note" class="col-form-label">Примечание:</label>
            <input type="text" class="form-control" id="recipient-note" name="note" value = "Note" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Выйти</button>
        <button type="button" class="btn btn-primary" id="SaveInsertModal" >Записать</button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT RECORDS -->
<!-- ДЛЯ ОТЛАДКИ просмотра ЗАПРОСОВ
  <div class="container">
    <div class="well col-xs-12">
      <div class="control-label col-xs-12">
        <label>Data sent:</label>
      </div>
      <div class="col-xs-12">
        <textarea class="form-control" readonly id="dataSent">here: data sent...</textarea>
        <br>
      </div>
      <div class="control-label col-xs-12">
        <label>Result:</label>
      </div>
      <div class="col-xs-12">
        <textarea class="form-control" readonly id="results">Waiting to send request</textarea>
      </div>
    </div>
  </div>
-->
<!--    </div>
  </div> -->
</div> <!-- container -->

</body>

<script>

$(document).ready(function() {
var $myufpsid = getCookie("myscrappertoken");
//alert(document.cookie); //
console.log('Найден token ='+$myscrappertoken);

$.get('myufps', function processData(json){
       if (json.status == true ){
            $('#Titletop').text('Мониторинг работы сервисов МАС ОПС '+json.Name);
            $('title').text('Мониторинг работы сервисов МАС ОПС '+json.Name);
       	}
});


function eraseCookie(name, path) {
    createCookie(name,"",-1, path);
}                                                                                                    
                                                                                                     
function createCookie(name,value,days,path) {                                                             
    if (days) {                                                                                      
        var date = new Date();                                                                       
        date.setTime(date.getTime()+(days*24*60*60*1000));                                           
        var expires = "; expires="+date.toGMTString();                                               
    }                                                                                                
    else var expires = "";                                                                           
    document.cookie = name+"="+value+expires+"; path="+path;
}                                                                                                    
                                                                                                     
//function readCookie(name) {                                                                          
//    var nameEQ = name + "=";                                                                         
//    var ca = document.cookie.split(';');                                                             
//    for(var i=0;i < ca.length;i++) {                                                                 
//        var c = ca[i];                                                                               
//        while (c.charAt(0)==' ') c = c.substring(1,c.length);                                        
//        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);                      
//    }                                                                                                
//    return null;                                                                                     
//}

//Ловим выбор кода УФПС        
$(".ufpsbtn.btn.btn-outline-info.btn-sm").click(function(event) {                                    
    var $myufpsid = $(this).text().trim();                                                           
    eraseCookie("myufpsid","/");                                                                         
    createCookie("myufpsid",$myufpsid,1,"/");
    eraseCookie("myufpsid","/myufps");                                                                         
    createCookie("myufpsid",$myufpsid,1,"/myufps");
    document.location.href = '/';
});                                                                                                  
        
// возвращает куки с указанным name,
// или undefined, если ничего не найдено
function getCookie(name) {
  let matches = document.cookie.match(new RegExp(
    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
  ));
  return matches ? decodeURIComponent(matches[1]) : undefined;
}

 // Setup - add a text input to each footer cell
    $('#myTable tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

  //var rowData = row.data();
  // DataTable////////////////////////////////////////////////////////////////////////////////////////////////////////
  var table = $('#myTable').DataTable({
   "processing": true,
//   "serverSide": true,
 //   stateSave: true,
   "language": {
     "url": "static/DataTables/Russian.json"
    },
   "lengthMenu": [[20,25,50, -1], [20,25, 50, "All"]],
//   "aaSorting": [[ 4, "desc" ]],
//        "aoColumnDefs": [
//          { "sType": "numeric-comma", "aTargets": [ 2 ] }
//
//        ],
        "bPaginate": true,
    //select: true,
    //"ajax": $.fn.dataTable.pipeline( {
    //   url: 'mydata?myufpsid='+$myufpsid,
    // pages: 5 // number of pages to cache
    //    } )
    ajax: {
        url: 'mydata?myufpsid='+$myufpsid,
         "type": "POST",

      "dataSrc": function (json) {
      var return_data = new Array();
      for(var i=0;i< json.length; i++){
        return_data.push({
          'ID': json[i].ID,
          'UpdatedAt': json[i].UpdatedAt,
          'Name': json[i].Name,
          'Status': json[i].Status,
          'Statussdo': json[i].Statussdo,
          'Statusupd': json[i].Statusupd,
          'Statusauth': json[i].Statusauth,
          'Statustrans': json[i].Statustrans,
          'Note': json[i].Note,
          'Fedit': '<a href="#" class="edit_modall" data-toggle="modal" data-target="#editModal" data-tr-id ="'+json[i].ID+'">&#9998;</a>'     
        })
      }
      return return_data;
    }

    },
rowId: 'ID',
columns: [
        { title: 'ID', data: 'ID', className: 'id' },
        { title: 'Время обновления', data: 'UpdatedAt', className: 'updatedat' },
        { title: 'Имя', data: 'Name' , className: 'name'},
        { title: 'Post EAS nsi', data: 'Status' , className: 'status'},
        { title: 'Post EAS sdo', data: 'Statussdo', className: 'statussdo'},
        { title: 'Post EAS Configuration', data: 'Statusupd', className: 'statusupd' },
        { title: 'Post EAS user', data: 'Statusauth' , className: 'statusauth'},
        { title: 'Post EAS trans', data: 'Statustrans', className: 'statustrans' },
        { title: 'Примечание', data: 'Note', className: 'note' },
        { title: '#' ,         data: 'Fedit'}

    ],
   initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        },

  // "dom": 'Blfrtip', // только пагинация
  // "dom": '<"top"i>rt<"bottom"flp><"clear">',
   dom: 'B<"clear">lfrtip', // all buttons
  // "dom": '<lf<t>ip>',
   keys: false  ,
// keys: {
//        columns: ':not(:last-child)'
//    },

    buttons: true,

// Пример замены в тблице поля на ссылку          
//"columnDefs": [ { //Вместо 0 столбца ID отображать ссылку Download
//    "targets": 0,
//    "data": "download_link",
//    "render": function ( data, type, row, meta ) {
//      return '<a href="'+data+'">Download</a>';
//    }
//  } ],

// Переопределими buttons
    buttons: [
        {
                extend: 'csv',
                //Name the CSV
//                filename: 'file_name',
                text: 'Отчет CSV',
                exportOptions: {
                        columns: [0, 1 ,2, 3, 4, 5, 6, 7, 8]
                },
                //Function which customize the CSV (input : csv is the object that you can preprocesss)
                customize: function (csv) {
                        //Split the csv to get the row
                        var split_csv = csv.split("\n");

                        //Remove the row one to personnalize the headers
                        split_csv[0] = '"ID";"Time";"Name";"StatusNSI";"Statussdo";"Statusupd";"Statusauth";"Statustrans";"Note"';

                        //For each row except the first one (header)
                        $.each(split_csv.slice(1), function (index, csv_row) {
                                //Split on quotes and comma to get each cell
                                var csv_cell_array = csv_row.split('","');
                                 //Remove replace the two quotes which are left at the beginning and the end (first and last cell)
                                csv_cell_array[0] = csv_cell_array[0].replace(/"/g, '');
                                csv_cell_array[8] = csv_cell_array[8].replace(/"/g, '');
                                //RANDOM EXAMPLE :insert 123 to 3th cell
                                //csv_cell_array[3] = "123";
                                //Join the table on the quotes and comma; add back the quotes at the beginning and end
                                csv_cell_array_quotes = '"' + csv_cell_array.join('";"') + '"';
                                //Insert the new row into the rows array at the previous index (index +1 because the header was sliced)
                                split_csv[index + 1] = csv_cell_array_quotes;
                        });

                        //Join the rows with line breck and return the final csv (datatables will take the returned csv and process it)
                        csv = split_csv.join("\n");
                        return csv;
                }
        },

        {
                extend: 'excel',
                //title: "Отчет", 	
                //Name the EXCEL
                //messageTop: $('#Titletop').text(),
                filename: 'file_name',
                text: 'Отчет EXCEL',
                exportOptions: {
                        columns: [0, 1 ,2, 3, 4, 5, 6, 7, 8]
                },
                customize: function(xlsx){
                  var sheet = xlsx.xl.worksheets['sheet1.xml'];
                   // $('row:first c', sheet).attr('s', '36');
                   var $t = $('#Titletop').text(); 
                   $('c[r=A1] t', sheet).text($t +'[#]'  ); 
//                   $('row c[r="A1"]', sheet).attr('v',$t+' test');
                }

        },
        {
                extend: 'pdf',
                filename: 'file_name',
                text: 'Отчет PDF',
                messageTop: '#',
                orientation: 'landscape', //portrait
				pageSize: 'A4', //A3 , A5 , A6 , legal , letter
                exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                },
					customize: function (doc) {
						//Remove the title created by datatTables
						doc.content.splice(0,1);
						//Create a date string that we use in the footer. Format is dd-mm-yyyy
						var now = new Date();
						var jsDate = now.getDate()+'-'+(now.getMonth()+1)+'-'+now.getFullYear();
						// Set page margins [left,top,right,bottom] or [horizontal,vertical]
						// or one number for equal spread
						// It's important to create enough space at the top for a header !!!
						doc.pageMargins = [20,60,20,30];
						// Set the font size fot the entire document
						doc.defaultStyle.fontSize = 7;
						// Set the fontsize for the table header
						doc.styles.tableHeader.fontSize = 7;
						// Create a header object with 3 columns
						// Left side: Logo
						// Middle: brandname
						// Right side: A document title
						doc['header']=(function() {
							return {
								columns: [
//									{
//										image: logo,
//										width: 24
//									},
									{
										alignment: 'left',
										italics: true,
										text: 'Отчет:',
										fontSize: 16,
										margin: [10,0]
									},
									{
										alignment: 'right',
										fontSize: 13,
										text:  $('#Titletop').text()
									}
								],
								margin: 20
							}
						});
						// Create a footer object with 2 columns
						// Left side: report creation date
						// Right side: current page and total pages
						doc['footer']=(function(page, pages) {
							return {
								columns: [
									{
										alignment: 'left',
										text: ['Отчт создан: ', { text: jsDate.toString() }]
									},
									{
										alignment: 'right',
										text: ['страница ', { text: page.toString() },	' из ',	{ text: pages.toString() }]
									}
								],
								margin: 20
							}
						});
						// Change dataTable layout (Table styling)
						// To use predefined layouts uncomment the line below and comment the custom lines below
						// doc.content[0].layout = 'lightHorizontalLines'; // noBorders , headerLineOnly
						var objLayout = {};
						objLayout['hLineWidth'] = function(i) { return .5; };
						objLayout['vLineWidth'] = function(i) { return .5; };
						objLayout['hLineColor'] = function(i) { return '#aaa'; };
						objLayout['vLineColor'] = function(i) { return '#aaa'; };
						objLayout['paddingLeft'] = function(i) { return 4; };
						objLayout['paddingRight'] = function(i) { return 4; };
						doc.content[0].layout = objLayout;
                    }
        },

]
  }); //DataTable

//$('#myTable').on( 'click', 'tr', function () {
//    $IDRow = table.row( this ).id();
////  alert( 'Clicked row id '+$IDRow);
//});

// Открыть модальную форму добавления записи
$('#insertModal').on('show.bs.modal', function (event) {
//  var button = $(event.relatedTarget) // Button that triggered the modal
//  var recipient = button.data('whatever') // Extract info from data-* attributes
//  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
//  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
//  var modal = $(this)
//  modal.find('.modal-title').text('New message to')
//  modal.find('.modal-body input id="recipient-name"').val(recipient)
});

//Передать на добавление в БД новой записи
$("#SaveInsertModal").click(function(event) {
    event.preventDefault();
    var form = $('#ajaxCreateForm');
    var method = form.attr('method');
    var url = form.attr('action'); //mcreate
    var formdata = form.serialize();
    console.log(formdata);
//    ajaxCallRequest(method, url, formdata);
    if (method =='POST') {
    $.post('mcreate',formdata, processData);
        function processData(data){
                if (data == 'pass') { 
                 console.log('Запись успешно добавлена '+formdata);
                 document.location.href = '/'                                       
                // alert('Запись успешно добавлена !');                                        
                } else {                        
                 alert('Ошибка записи !!! '+ data);                                        
                }                                                
        }// processData  
     } //if method
  });


//$('#myTable').on( 'click', 'tr', function () {
//    $IDRow = table.row( this ).id();
//  alert( 'Clicked row id '+$IDRow);
//});

// Выбрана ссылка "Редактировать" на записи 
$('#myTable').on('click','.edit_modall',function(event) {
 	event.preventDefault();// вырубaем стaндaртнoе пoведение
 	var $editRow =null;
        //получим значения из таблици
    $editRow = $(event.target).closest("tr");
    $uid = $editRow.children('td.id').text().trim();
 	$uname = $editRow.children('td.name').text().trim();
 	$ustatus = $editRow.children('td.status').text().trim();
  	$ustatussdo = $editRow.children('td.statussdo').text().trim(); 
   	$ustatusupd = $editRow.children('td.statusupd').text().trim();     
   	$ustatusauth = $editRow.children('td.statusauth').text().trim(); 
   	$ustatustrans = $editRow.children('td.statustrans').text().trim(); 
   	$unote = $editRow.children('td.note').text().trim(); 
    //console.log('Edit '+$uid+' '+$uname);
    var $editForm = $('#ajaxEditForm');
        $editForm.find('#edit-id').val($uid);
        $editForm.find('#edit-name').val($uname);
        $editForm.find('#edit-status').val($ustatus);
        $editForm.find('#edit-statussdo').val($ustatussdo);
        $editForm.find('#edit-statusupd').val($ustatusupd);
        $editForm.find('#edit-statusauth').val($ustatusauth);
        $editForm.find('#edit-statustrans').val($ustatustrans);
        $editForm.find('#edit-note').val($unote);
}); //.edit_modal

//Передать данные серверу для записи в БД
$("#SaveEditModal").click(function(event) {
    event.preventDefault();
    var form = $('#ajaxEditForm');
    var method = form.attr('method');
    var url = form.attr('action'); //medit
    //var formdata = $(form).serialize();
    //включаем в список на сериализацию в том числе и поля с атрибутом disabled
    var formdata = form.serializeIncludeDisabled();
    console.log(formdata);
    // Для ОТЛАДКИ и ПРОСМОТРА ЗАПРОСОВ
    //ajaxCallRequest(method, url, formdata);
    //
    if (method =='POST') {
    $.post('medit',formdata, processData);
        function processData(data){
                if (data == 'pass') {                            
                 //alert('Запись успешно обновлена !'); 
                 console.log('Запись успешно обновлена '+formdata);
                 document.location.href = '/'                                       
                } else {                        
                 alert('Ошибка записи на сервер ! '+ data);
                }                                                
        }// processData  
     } //if method

  });

//Функция сериализации полей формы в том числе и с атрибутом disabled
$.fn.serializeIncludeDisabled = function () {
    let disabled = this.find(":input:disabled").removeAttr("disabled");
    let serialized = this.serialize();
    disabled.attr("disabled", "disabled");
    return serialized;
};

//Универсальная Функция faking ajax requests
function ajaxCallRequest(f_method, f_url, f_data) {
    $("#dataSent").val(unescape(f_data));
    var f_contentType = 'application/x-www-form-urlencoded; charset=UTF-8';
    $.ajax({
      url: f_url,
      type: f_method,
      contentType: f_contentType,
      dataType: 'json',
      data: f_data,
      success: function(data) {
        var jsonResult = JSON.stringify(data);
        $("#results").val(unescape(jsonResult));
      }
    });
  }

});//document

</script>
</html>
